<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Botões</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Botão padrão</h3>
  <ion-button>Nome do botão</ion-button>
  <ion-button href="#">Ancora</ion-button>

  <h3>Botão com temas</h3>
  <ion-button color="primary">Primary</ion-button>
  <ion-button color="tertiary">tertiary</ion-button>
  <ion-button color="success">success</ion-button>
  <ion-button color="medium">medium</ion-button>

  <h3>Botão com expand</h3>
  <ion-button expand="full">Full</ion-button>
  <ion-button expand="block">Block</ion-button>
  
<!-- Round -->
<ion-button shape="round">Round Button</ion-button>

<!-- Fill -->
<ion-button expand="full" fill="outline">Outline + Full</ion-button>
<ion-button expand="block" fill="outline">Outline + Block</ion-button>
<ion-button shape="round" fill="outline">Outline + Round</ion-button>

<!-- Icons -->
<ion-button>
  <ion-icon slot="start" name="star"></ion-icon>
  Left Icon
</ion-button>

<ion-button>
  Right Icon
  <ion-icon slot="end" name="star"></ion-icon>
</ion-button>

<ion-button>
  <ion-icon slot="icon-only" name="alarm"></ion-icon>
</ion-button>

</ion-content>
