<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-img src="../assets/imgs/tela-inicial.png"></ion-img>
    <ion-card-content>
      <ion-card-title>Show da banda xpto</ion-card-title>
      <p>Show gratuito</p>
    </ion-card-content>
  </ion-card>

  <ion-card color="success" mode="md">
    <ion-card-header>
      <ion-card-subtitle>Cartao modelo android</ion-card-subtitle>
      <ion-card-title>Ionic 5</ion-card-title>
    </ion-card-header>
    <ion-card-content>Precisamos desenvolvedore Ionic 5</ion-card-content>
  </ion-card>

  <ion-card color="success" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Cartao modelo android</ion-card-subtitle>
      <ion-card-title>Ionic 5</ion-card-title>
    </ion-card-header>
    <ion-card-content>Precisamos desenvolvedore Ionic 5</ion-card-content>
  </ion-card>

</ion-content>
